{% load permissoes_tags %}

<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="active"><a href="#" data-module="dashboard" data-title="Visão Geral"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>

        {% if request.user|tem_permissao:"atendimento.gerir" %}
        <li><a href="#" data-module="atendimento" data-title="Atendimentos"><i class="fa-solid fa-user-clock"></i><span>Atendimentos</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"encaminhamento.gerir" %}
        <li><a href="#" data-module="encaminhamento" data-title="Encaminhamentos"><i class="fa-solid fa-share-nodes"></i><span>Encaminhamentos</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"convenio.gerir" %}
        <li><a href="#" data-module="convenios" data-title="Convênios & Guias"><i class="fa-solid fa-file-shield"></i><span>Convênios & Guias</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"colaborador.gerir" %}
        <li><a href="#" data-module="colaboradores" data-title="Colaboradores"><i class="fa-solid fa-user-group"></i><span>Colaboradores</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"paciente.gerir" %}
        <li><a href="#" data-module="pacientes" data-title="Pacientes"><i class="fa-solid fa-hospital-user"></i><span>Pacientes</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"agendamento.gerir" %}
        <li><a href="#" data-module="agendamentos" data-title="Agendamentos"><i class="fa-solid fa-calendar-check"></i><span>Agendamentos</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"farmacia.gerir" %}
        <li><a href="#" data-module="farmacia" data-title="Farmácia"><i class="fa-solid fa-pills"></i><span>Farmácia</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"perfil.gerir" %}
        <li><a href="{% url 'modulo_perfis' %}" data-module="perfis" data-title="Perfis"><i class="fa-solid fa-user-shield"></i><span>Perfis</span></a></li>
        {% endif %}

        {% if request.user|tem_permissao:"permissao.gerir" %}
        <li><a href="{% url 'modulo_permissoes' %}" data-module="permissoes" data-title="Permissões"><i class="fa-solid fa-key"></i><span>Permissões</span></a></li>
        {% endif %}
         {% if request.user|tem_permissao:"atendimento.atender" %}
        <li><a href="#" data-module="meus_atendimentos" data-title="Meus Atendimentos"><i class="fa-solid fa-stethoscope"></i><span>Meus Atendimentos</span></a></li>
        {% endif %}
        {% if request.user|tem_permissao:"atendimento.triagem" %}
<li><a href="#" data-module="triagem" data-title="Triagem"><i class="fa-solid fa-heart-pulse"></i><span>Triagem</span></a></li>
{% endif %}
    </ul>

    <ul class="sidebar-menu sidebar-menu-bottom">
        <li>
            <form id="form-logout" action="{% url 'logout' %}" method="post" style="margin:0;">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('form-logout').submit(); return false;" data-title="Sair">
                <i class="fa-solid fa-right-from-bracket"></i><span>Terminar Sessão</span>
            </a>
        </li>
    </ul>
</aside>